In [2]:
import scipy.stats as stats
from yellowbrick.regressor import AlphaSelection, PredictionError, ResidualsPlot
from yellowbrick.model_selection import FeatureImportances
from sklearn.linear_model import Ridge, RidgeCV, ElasticNet, ElasticNetCV, Lasso, LassoCV
from sklearn.model_selection import cross_validate, cross_val_score, GridSearchCV
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [3]:
df = pd.read_csv("PAYROL_NY_STATE.csv")

In [4]:
df.head()

,NAME,OFFICE,TITLE,CITY,BIWEEKLT/HOURLY RATE,PAYROL TYPE,PAY PERIOD,LEGISLATIVE ENTITY
0,"ABBOT, JUDITH L",SENATOR TOBY ANN STAVISKY,COMMUNITY LIAISON,FLUSHING,1076.93,SA,4,SENATE EMPLOYEE
1,"ABREU, BRIAN A",LEGISLATIVE MESSENGER SERVICE,MESSENGER,ALBANY,1173.93,RA,4,JOINT LEGISLATIVE EMPLOYEE
2,"ABREU, TYDIE Z",SENATE FINANCE COMMITTEE/MAJORITY,SENIOR ANALYST,ALBANY,2692.31,RA,4,SENATE EMPLOYEE
3,"ACEVEDO, SAMANTHA I",SENATOR JESSICA RAMOS,SR. DIR. LEG. AFFRS / COMMITTEE DIR.,ALBANY,2307.70,RA,4,SENATE EMPLOYEE
4,"ADAMS, DAVID V",SENATE SERGEANT-AT-ARMS,SESSION SERGEANT-AT-ARMS,ALBANY,820.95,SA,4,SENATE EMPLOYEE

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   NAME                  1000 non-null   object
 1   OFFICE                1000 non-null   object
 2   TITLE                 1000 non-null   object
 3   CITY                  1000 non-null   object
 4   BIWEEKLT/HOURLY RATE  1000 non-null   float64
 5   PAYROL TYPE           1000 non-null   object
 6   PAY PERIOD            1000 non-null   int64
 7   LEGISLATIVE ENTITY    1000 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [11]:
df.shape

(1000, 8)

In [6]:
for column in df.select_dtypes('object').columns:
    print(f'Column {column} has {df[column].nunique()} unique values.')

Column NAME has 1000 unique values.
Column OFFICE has 114 unique values.
Column TITLE has 429 unique values.
Column CITY has 55 unique values.
Column PAYROL TYPE has 3 unique values.
Column LEGISLATIVE ENTITY has 2 unique values.

In [5]:
df.describe()

       BIWEEKLT/HOURLY RATE  PAY PERIOD
count           1000.000000      1000.0
mean            2129.122080         4.0
std             1144.883266         0.0
min               11.100000         4.0
25%             1423.080000         4.0
50%             1923.080000         4.0
75%             2692.310000         4.0
max             7115.390000         4.0

In [7]:
pd.qcut(df['BIWEEKLT/HOURLY RATE'].sort_values(), q=4).value_counts()

(11.099, 1423.08]     253
(1423.08, 1923.08]    249
(1923.08, 2692.31]    249
(2692.31, 7115.39]    249
Name: BIWEEKLT/HOURLY RATE, dtype: int64

In [8]:
df[df['BIWEEKLT/HOURLY RATE'] < 200]

,NAME,OFFICE,TITLE,CITY,BIWEEKLT/HOURLY RATE,PAYROL TYPE,PAY PERIOD,LEGISLATIVE ENTITY
15,"ALEXANDER, ANDREA J",LEGISLATIVE MESSENGER SERVICE,MESSENGER APPRENTICE,ALBANY,11.10,TE,4,JOINT LEGISLATIVE EMPLOYEE
21,"ALLAIN, MICHAEL R",SENATOR KEVIN M. THOMAS,SESSION AIDE,ALBANY,16.00,TE,4,SENATE EMPLOYEE
45,"ASHLAW, RICHARD L",SENATOR JOSEPH A. GRIFFO,CONSTITUENT REPRESENTATIVE,MASSENA,192.31,SA,4,SENATE EMPLOYEE
110,"BOONE, KEVIN D",SENATOR KEVIN M. THOMAS,COMMUNITY AFFAIRS REPRESENTATIVE,ALBANY,15.00,TE,4,SENATE EMPLOYEE
135,"BULGIA, CARLY E",SENATOR SUSAN SERINO,SENIOR SPECIAL EVENTS COORDINATOR,HYDE PARK,20.00,TE,4,SENATE EMPLOYEE
182,"CHEUNG, LANA S",SENATOR BRIAN KAVANAGH,COMMUNITY LIAISON,NEW YORK,76.93,SA,4,SENATE EMPLOYEE
200,"COLLINGS, MONTYNAL B",SENATOR JAMAAL BAILEY,COMMUNITY LIAISON,BRONX,15.00,TE,4,SENATE EMPLOYEE
234,"CULBERTSON, JAMES A",57TH SENATORIAL DISTRICT,COMMUNITY LIAISON,OLEAN,192.31,SA,4,SENATE EMPLOYEE
246,"DAVIE, DUNCAN S",SENATOR JAMES L. SEWARD,CHIEF OF STAFF,ONEONTA,55.00,TE,4,SENATE EMPLOYEE
269,"DEWAN, DEBORAH M",SENATOR JEN METZGER,AG LIAISON-ADVISOR,ALBANY,40.00,TE,4,SENATE EMPLOYEE
290,"DOWNS, TIFFANIE A",SENATOR SUSAN SERINO,EXECUTIVE ASSISTANT,HYDE PARK,19.00,TE,4,SENATE EMPLOYEE
302,"DURKISH, JAMES A",SENATOR JOSEPH A. GRIFFO,CONSTITUENT REPRESENTATIVE,LOWVILLE,192.31,SA,4,SENATE EMPLOYEE
332,"EVANS, JOHN D",SENATOR JOSEPH A. GRIFFO,SENIOR ADVISOR,ALBANY,45.00,TE,4,SENATE EMPLOYEE
338,"FANELLI, KENNETH J",SENATOR JOSEPH A. GRIFFO,CONSTITUENT REPRESENTATIVE,UTICA,13.00,TE,4,SENATE EMPLOYEE
363,"FISCHER, HENRY M",LEGISLATIVE MESSENGER SERVICE,MESSENGER APPRENTICE,ALBANY,11.10,TE,4,JOINT LEGISLATIVE EMPLOYEE
386,"FROHBERG, LESLIE G",SENATOR JAMAAL BAILEY,SENIOR LIASON,BRONX,16.00,TE,4,SENATE EMPLOYEE
401,"GARDNER, STEPHEN J",STS/BUSINESS APPLICATIONS CENTER,DATABASE ADMINISTRATOR,ALBANY,73.50,TE,4,SENATE EMPLOYEE
425,"GODWIN, AUBREY D",SENATOR ROBERT ORTT,CONSTITUENT RELATIONS AIDE,LOCKPORT,15.00,TE,4,SENATE EMPLOYEE
498,"HILTS, WILLIAM R",SENATOR ROBERT ORTT,COMMUNITY REPRESENTATIVE,LOCKPORT,15.30,TE,4,SENATE EMPLOYEE
503,"HOLDEN, ALEXIA L",SENATOR JAMES SKOUFIS,LEGISLATIVE ASSISTANT,ALBANY,15.00,TE,4,SENATE EMPLOYEE
510,"HOWARD, KAREN M",SENATOR PATRICK M. GALLIVAN,COMMUNITY AFFAIRS ASSISTANT,ELMA,15.00,TE,4,SENATE EMPLOYEE
546,"KASH, JANET K","SENATOR JOSEPH P. ADDABBO, JR.",COMMUNICATIONS DIRECTOR,ALBANY,30.00,TE,4,SENATE EMPLOYEE
646,"MALONE, THEO R",SENATOR ROBERT E. ANTONACCI,LEGISLATIVE ASSISTANT,ALBANY,11.10,TE,4,SENATE EMPLOYEE
656,"MAROUN, PAUL A",SENATOR ELIZABETH 0'C. LITTLE,NORTH COUNTRY COORD./COUNSEL,PLATTSBURGH,48.07,TE,4,SENATE EMPLOYEE
669,"MASSRY, MALLORY B",SENATOR DAPHNE JORDAN,CONSTITUENT RELATIONS SPECIALIST,ALBANY,19.00,TE,4,SENATE EMPLOYEE
672,"MAYER, DONNA L",SENATE PERSONNEL OFFICE,ADMINISTRATIVE ASSISTANT,ALBANY,19.00,TE,4,SENATE EMPLOYEE
702,"MEIER, MADELEINE G",SENATOR THOMAS F. O'MARA,INTERN,ELMIRA,17.00,TE,4,SENATE EMPLOYEE
719,"MILLER, RICHARD A",SENATOR JOSEPH A. GRIFFO,CORRESPONDENCE SPECIALIST,UTICA,153.85,SA,4,SENATE EMPLOYEE
767,"NATOLI, DAVID J",SENATE FISCAL OFFICE,SENIOR ADVISOR,ALBANY,90.00,TE,4,SENATE EMPLOYEE
799,"OLIVER, JUNEAY L",SENATOR VELMANETTE MONTGOMERY,LEGISLATIVE AIDE,ALBANY,16.00,TE,4,SENATE EMPLOYEE
810,"PALESANO, MATTHEW J",SENATOR ANDREW J. LANZA,LEGISLATIVE AIDE,ALBANY,15.00,TE,4,SENATE EMPLOYEE
850,"PLATTNER, ROBERT D",SENATE FINANCE COMMITTEE/MAJORITY,SENIOR ADVISOR,ALBANY,82.00,TE,4,SENATE EMPLOYEE
878,"RANSOM, NOLAN T",SENATOR JOSEPH E. ROBACH,INTERN,ROCHESTER,13.00,TE,4,SENATE EMPLOYEE
883,"RAZZORE, ANDREW D",SENATOR ANDREW J. LANZA,INTERN,STATEN ISLAND,15.00,TE,4,SENATE EMPLOYEE
897,"REIMER, NICOLE E",LEGISLATIVE MESSENGER SERVICE,MESSENGER APPRENTICE,ALBANY,11.10,TE,4,JOINT LEGISLATIVE EMPLOYEE
928,"ROSS, WILLIAM L",SENATOR ROBERT ORTT,COMMUNITY REPRESENTATIVE,LOCKPORT,13.00,TE,4,SENATE EMPLOYEE
940,"SACK, MARY E",SECRETARY OF THE SENATE'S OFFICE,DEPUTY EXECUTIVE ASSISTANT,ALBANY,35.71,TE,4,SENATE EMPLOYEE

In [9]:
df[df['BIWEEKLT/HOURLY RATE'] < 200].shape

(37, 8)

In [ ]:
df = df[~df['BIWEEKLT/HOURLY RATE'].transform(lambda x: abs(x-x.mean()) > 1.96*x.std()).values]

In [ ]:
df.columns = df.columns.str.capitalize()

In [ ]:
df.head()

In [ ]:
for col in df.columns:
  print(f"{col} has {df[col].nunique()} unique items")
  if df[col].nunique() == 1 or df[col].nunique() == 963:
    print(f"\nyou can drop {col} feature \n")

In [ ]:
df1 = df.drop(["Name", "Pay period"], axis= 1).copy()

In [ ]:
df1.head()

In [ ]:
(df1.Title.value_counts()==1).sum()

In [ ]:
list_of_least_title = []
for i in df1.Title.unique():
  if df.Title.value_counts()[i] < 2 :
    list_of_least_title.append(i)

In [ ]:
df1[df1.Title.isin(list_of_least_title)]

In [ ]:
df2 = pd.get_dummies(df1, drop_first=True)

In [ ]:
def print_evaluate(true, predicted):
    mae = metrics.mean_absolute_error(true, predicted)
    mse = metrics.mean_squared_error(true, predicted)
    rmse = np.sqrt(metrics.mean_squared_error(true, predicted))
    r2_square = metrics.r2_score(true, predicted)
    print('MAE:', mae)
    print('MSE:', mse)
    print('RMSE:', rmse)
    print('R2 Square', r2_square)
    print('__________________________________')

In [ ]:
X = df2.drop("Biweeklt/hourly rate", axis=1)
y = df2["Biweeklt/hourly rate"]

In [ ]:
X.shape

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
plt.figure(figsize=(10, 10))
visualizer = PredictionError(LinearRegression())
visualizer.fit(X_train, y_train)
visualizer.score(X_test, y_test)
visualizer.show()

In [ ]:
plt.figure(figsize=(10, 10))
model = ResidualsPlot(LinearRegression())
model.fit(X_train, y_train)
model.score(X_test, y_test)
model.show()

In [ ]:
viz = FeatureImportances(Ridge(alpha=1.414, random_state=42), labels=X.columns)
viz.fit(X_train, y_train)
viz.show()

In [ ]:
plt.figure(figsize=(10, 5))
sns.distplot((y_test - y_pred), bins=50, fit=stats.norm);

In [ ]:
plt.figure(figsize=(10, 10))
model = ResidualsPlot(Ridge(alpha=1.414, random_state=42))
model.fit(X_train, y_train)
model.score(X_test, y_test)
model.show()

In [ ]:
lasso_cv_model = LassoCV(alphas = alpha_space, cv=10, max_iter=100000, n_jobs =-1, random_state=42).fit(X_train, y_train)

In [ ]:
grid_params = {'alpha':alpha_space, 'l1_ratio':[0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]}

In [ ]:
grid = GridSearchCV(ElasticNet(), param_grid=grid_params, n_jobs=-1, verbose=2, cv=10)