In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams["figure.figsize"] = (10,6)

In [5]:
from sklearn.preprocessing  import PolynomialFeatures

In [ ]:
# x, y, z == x2, y2, z2, xy, xz, yz, 1

In [15]:
data = np.array([[2, 3, 4]])
print(data)

[[2 3 4]]

In [12]:
trans = PolynomialFeatures(degree=2, include_bias=False)

In [13]:
trans

PolynomialFeatures(include_bias=False)

In [16]:
data = trans.fit_transform(data)

In [17]:
print(data)

[[ 2.  3.  4.  4.  6.  8.  9. 12. 16.]]

In [18]:
df = pd.read_csv("Advertising.csv")

In [19]:
df

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [20]:
X = df.drop("sales", axis = 1)

In [21]:
y = df.sales

In [22]:
polynomial_converter = PolynomialFeatures(degree=2, include_bias = False)

In [23]:
polynomial_converter.fit(X)

PolynomialFeatures(include_bias=False)

In [25]:
poly_features = polynomial_converter.transform(X)

In [26]:
poly_features

array([[ 230.1 ,   37.8 ,   69.2 , ..., 1428.84, 2615.76, 4788.64],
       [  44.5 ,   39.3 ,   45.1 , ..., 1544.49, 1772.43, 2034.01],
       [  17.2 ,   45.9 ,   69.3 , ..., 2106.81, 3180.87, 4802.49],
       ...,
       [ 177.  ,    9.3 ,    6.4 , ...,   86.49,   59.52,   40.96],
       [ 283.6 ,   42.  ,   66.2 , ..., 1764.  , 2780.4 , 4382.44],
       [ 232.1 ,    8.6 ,    8.7 , ...,   73.96,   74.82,   75.69]])

In [27]:
poly_features.shape

(200, 9)